/* Fixed navbar を利用しているため、 body 部を下げています。 */
body {
  min-height: 50rem;
  padding-top: 5rem;
}

/*
  幅が狭いとき dropdown-menu を幅いっぱいにするスタイルです。
  NOTE: 576px は bootstrap の sm の幅。
*/
@media (max-width: 576px) {
  /* .position-static 付与と同効果です。 */
  nav li.dropdown {
    position: static !important;
  }

  /* .w-100 付与と同効果です。 */
  nav div.dropdown-menu {
    width: 99% !important;
  }
}
/*
  平時の幅です。
  NOTE: bootstrap-datepicker にも dropdown-menu が使われるため、 nav を指定しています。
*/
nav div.dropdown-menu {
  width: 20rem;
}

table td:hover {
  background-color: #ffe2e5;
}
