/* Dedicate body as fixed navbar is used. */
body {
  min-height: 50rem;
  padding-top: 5rem;
}

/*
  These styles are for dropdown in the navbar.
  When mobile size, dropdown-menu gets w-100.
  NOTE: 576px is "sm" of Bootstrap.
*/
@media (max-width: 576px) {
  /* .position-static */
  nav li.dropdown {
    position: static !important;
  }
  /* .w-100 */
  nav div.dropdown-menu {
    width: 99% !important;
  }
}
/*
  When normal.
*/
nav div.dropdown-menu {
  width: 20rem;
}

/* For table. */
table td:hover {
  background-color: #ffe2e5;
}
